.slick-prev::before {
	background: url('../public/carousel-left.svg') no-repeat 0 0 !important;
	content: '';
	height: 40px;
}
.slick-next::before {
	background: url('/public/carousel-right.svg') no-repeat 0 0 !important;
	content: '';
	height: 40px;
}

body {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
